<launch>

    <include file="$(find tinker_description)/launch/tinker_description.launch"/>
    <include file="$(find tinker_2dnav/launch/hokuyo.launch"/>

    <arg name="map_file" default="$(find tinker_2dnav)/map/thu105.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tinker_2dnav)/launch/rviz_config.rviz">
        <remap from="/cmd_vel" to="/do_nothing"/>
    </node>

    <!--- Run AMCL -->
    <include file="$(find amcl)/examples/amcl_omni.launch"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="controller_frequency" value="10.0" />
        <param name="planner_patience" value="20.0" />
        <param name="GlobalPlanner/orientation_mode" value="2" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <rosparam file="$(find tinker_2dnav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tinker_2dnav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tinker_2dnav)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find tinker_2dnav)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find tinker_2dnav)/params/dwa_planner_params.yaml" command="load" />
    </node>
</launch>
