<launch>

    <include file="$(find tinker_description)/launch/tinker_description.launch"/>
    <include file="$(find tk_hardware_interface)/launch/odom_zynq_control.launch"/>
    <include file="$(find tinker_laser_fusion)/launch/fusion_with_kinect.launch"/>
    <include file="$(find tinker_2dnav)/launch/map_server.launch"/>
    <include file="$(find k2_client)/launch/k2_client.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tinker_2dnav)/launch/rviz_config.rviz">
        <remap from="/cmd_vel" to="/do_nothing"/>
    </node>

    <include file="$(find amcl)/examples/amcl_omni.launch"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="controller_frequency" value="10.0" />
        <param name="planner_patience" value="20.0" />
        <param name="GlobalPlanner/orientation_mode" value="2" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="oscillation_timeout" value="10.0" />
        <param name="recovery_behavior_enabled" value="False" />
        <rosparam file="$(find tinker_2dnav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tinker_2dnav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tinker_2dnav)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find tinker_2dnav)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find tinker_2dnav)/params/dwa_planner_params.yaml" command="load" />
    </node>
</launch>
