<launch>

    <param name="robot_description"
        command="$(find xacro)/xacro.py '$(find tinker_description)/urdf/base/base.urdf.xacro'" />

    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="FALSE"/>
    </node>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <master auto="start"/>


    <!-- Run the map server -->
    <arg name="map_file" default="$(find tinker_2dnav)/map/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tinker_2dnav)/launch/rviz_config.rviz"/>

    <!--- Run AMCL -->
    <include file="$(find amcl)/examples/amcl_omni.launch"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="controller_frequency" value="4.0" />
        <rosparam file="$(find tinker_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tinker_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tinker_2dnav)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find tinker_2dnav)/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find tinker_2dnav)/base_local_planner_params.yaml" command="load" />
    </node>
</launch>
